@charset "utf-8";

@font-face {
	src: url("font/NT Wagner.otf") format('opentype');
	font-family: 'NT-Wagner';
	font-weight: normal;
	font-style: normal;
}

body {
	background-color: #e5c243;
}


#landing {
	color: #323232;
	font-family: "NT-Wagner";
	font-size: 2em;
	margin: 0px auto;
	padding-top: 5%;
	padding-bottom: 2%;
	text-align: center;
	text-shadow: 2px 2px 0px #a5300f;
}

#landing p {
	color: #323232;
	font-family: "NT-Wagner";
	font-size: .75em;
	text-align: center;
	text-shadow: 1px 1px 0px #a5300f;
}

main {
	background-color: #fff;
	border: none;
	border-radius: 10px;
	box-shadow: 5px 5px #323232;
	height: auto;
	margin: auto;
	padding: 1%;
	width: 85%;
}


/* Text Styles */
h1, h2, h3 {
	color: #323232;
	font-family: "NT-Wagner";
	margin: 0px auto;
	/*text-decoration: underline 2px #a5300f;*/
}

p {
	color: #7a7f50;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: 500;
	margin-top: 2px;
	margin-bottom: 10px;
}

main h1, h2, h3 {
	text-align: center;
}

main h3 {
	padding: 2% 0 0 0;
}

main p {
	text-align: left;
	padding: 0 0 1% 6%;
	max-width: 90%;
	width: auto;
}


#repos{
	color: #7a7f50;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: 500;
}

#repos table {
	display: table;
	max-width: 100%;
	width: 80%;
}

#repos td, tr {
	empty-cells: hide;
	text-align: center;
}

#repos a {
	font: #a5300f;
	text-decoration: none;
}

nav {
	float: none;	
	overflow: hidden;
	padding: 1.5% 0;
	text-align: center;
	width: auto;
	max-width: 100%;
}

nav ul {
	list-style: none;
	/*background: #b00262;*/
	text-align: center;
	padding-left: 5	0%;
	margin: 0;
}

nav li {
	display: inline-block;
	color: #FFF;
}

nav a {
	display: block;	
	padding: 0 1em;
}

nav a:hover {
	color: #FFF;
}

img:hover {
	color: #FFF;
}

/*img {
	border-radius: 100px;
}*/